In [4]:
3/2

1.5

In [5]:
3/2

1.5

In [30]:
from __future__ import division

In [7]:
3/2

1.5

In [31]:
print'Hari Om'

Hari Om

In [32]:
print ('Hola! Dikhta hai bahut bhola')

Hola! Dikhta hai bahut bhola

In [10]:
2**3

8

In [11]:
4**5

1024

In [12]:
4*0.5

2.0

In [13]:
2+10*10+3

105

In [14]:
(2+10)*(10+3)

156

In [15]:
0.1+0.2-0.3

5.551115123125783e-17

In [16]:
0.3-0.3

0.0

In [17]:
1.0/8

0.125

In [18]:
a = 'HOLA'

In [19]:
a.upper()

'HOLA'

In [20]:
a.lower()

'hola'

In [21]:
a.split('O')

['H', 'LA']

# Print Formatting

In [22]:
print ("This is a string")

This is a string

In [23]:
print 'this is a string'

this is a string

In [26]:
print 'Floating point number: %.2f' %(13.145)

Floating point number: 13.14

In [28]:
print '%10.3f' %(45.7567898)

    45.757

In [33]:
print 'This is a string with {x}'.format(x='Insert')

This is a string with Insert

# Lists

In [34]:
my_list = [1,2,3]

In [37]:
my_list

[1, 2, 3]

In [38]:
my_list = ['hola', 2, 'kya', 'bo;a']

In [39]:
my_list

['hola', 2, 'kya', 'bo;a']

In [40]:
my_list[2:]

['kya', 'bo;a']

In [42]:
my_list + ['olaola']

['hola', 2, 'kya', 'bo;a', 'olaola']

In [43]:
my_list

['hola', 2, 'kya', 'bo;a']

In [44]:
my_list * 2

['hola', 2, 'kya', 'bo;a', 'hola', 2, 'kya', 'bo;a']

In [45]:
another_list =[]

In [47]:
len(another_list)

0

In [48]:
another_list.append('sola')

In [49]:
len(another_list)

1

In [50]:
my_list.append(2)

In [51]:
my_list

['hola', 2, 'kya', 'bo;a', 2]

In [52]:
l =[1,2,3,'append me!']

In [53]:
l.pop()

'append me!'

In [54]:
l

[1, 2, 3]

In [55]:
x = l.pop(0)

In [56]:
x

1

In [57]:
new_list = ['a','e','x','b','c']

In [58]:
new_list.reverse()

In [59]:
new_list

['c', 'b', 'x', 'e', 'a']

**---list comprehension**

In [61]:
l_1=[1,2,3]

In [62]:
l_2=[4,5,6]

In [63]:
l_3=[7,8,9]

In [64]:
matrix=[l_1,l_2,l_3]

In [66]:
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [67]:
matrix[2][2]

9

In [68]:
matrix[2][0]

7

In [69]:
first_col=[row[0] for row in matrix]

In [70]:
first_col

[1, 4, 7]

In [71]:
matrix_1 = [1,1,[1,2]]

In [72]:
matrix_1

[1, 1, [1, 2]]

In [73]:
grab = matrix_1[2][1]

In [74]:
grab

2

# Dictionaries

In [75]:
my_dict = {'key1': 'value', 'key2': 'value2'}

In [76]:
my_dict [1]

KeyError: 1

In [77]:
my_dict['key1']

'value'

In [78]:
my_dict[key2]

NameError: name 'key2' is not defined

In [79]:
my_dict

{'key1': 'value', 'key2': 'value2'}

In [82]:
my_dict = {'k3': 'string'}

In [83]:
my_dict

{'k3': 'string'}

In [84]:
my_dict = {'k1': 123, 'k2': 3.4, 'k3': 'string'}

In [85]:
my_dict

{'k1': 123, 'k2': 3.4, 'k3': 'string'}

In [86]:
my_dict['k3']

'string'

In [90]:
my_dict['k3'][::-1]

'gnirts'

In [91]:
my_dict['k3'].upper()

'STRING'

In [92]:
my_dict['k3'].reverse()

AttributeError: 'str' object has no attribute 'reverse'

In [95]:
my_dict['k1']

123

In [96]:
my_dict['k1'] = my_dict['k1'] - 120

In [97]:
my_dict

{'k1': 3, 'k2': 3.4, 'k3': 'string'}

In [99]:
my_dict['k1'] += 100

In [100]:
my_dict

{'k1': 103, 'k2': 3.4, 'k3': 'string'}

In [101]:
d = {}

In [102]:
d

{}

In [103]:
d['anima'] = 'Dog'

In [104]:
d

{'anima': 'Dog'}

In [105]:
d ={}

In [106]:
d

{}

In [107]:
d['animal'] = 'Dog'

In [108]:
d['answer'] = 42

In [109]:
d

{'animal': 'Dog', 'answer': 42}

In [110]:
d = {'k1': {'newstkey': 'value'}}

In [111]:
d

{'k1': {'newstkey': 'value'}}

In [112]:
d = {'k1': {'nestkey': {'subnestkey': 'value'}}}

In [113]:
d

{'k1': {'nestkey': {'subnestkey': 'value'}}}

In [115]:
d['k1']['nestkey']['subnestkey'].upper()

'VALUE'

In [116]:
d.keys()

['k1']

In [117]:
d.items()

[('k1', {'nestkey': {'subnestkey': 'value'}})]

In [118]:
d.values()

[{'nestkey': {'subnestkey': 'value'}}]

# Tuples

In [1]:
t = (1,2,3)

In [2]:
t

(1, 2, 3)

In [3]:
t.index(2)

1

In [4]:
t = ('one', 2)

In [5]:
t[0]

'one'

In [6]:
t[-1]

2

In [7]:
t.index('one')

0

In [8]:
t.count('one')

1

In [9]:
t = (1,2,1,2)

In [10]:
t.count(1)

2

tuples are immutable

In [11]:
l = [1,2,3]

In [12]:
t = (1,2,3)

In [13]:
l[0] = 's'

In [14]:
l

['s', 2, 3]

In [15]:
t[0] = 's'

TypeError: 'tuple' object does not support item assignment

In [16]:
t = (1,2,[1,2])

In [18]:
type(t)

tuple

In [19]:
t

(1, 2, [1, 2])

# Files

In [20]:
pwd

u'/media/dzenvikas/Data/Python/CompletePythonBootcamp/JupyterNotebook/Complete-Python-Bootcamp-master'

In [21]:
f = open('test.txt')

In [22]:
f

In [23]:
f.read()

'This is a new lineLine'

In [24]:
f.read()

''

In [25]:
f.seek(0)

In [26]:
f.read()

'This is a new lineLine'

In [27]:
f.seek(10)

In [28]:
f.read()

'new lineLine'

In [29]:
f.readliness()

AttributeError: 'file' object has no attribute 'readliness'

In [30]:
f.seek(0)

In [31]:
f.readlines()

['This is a new lineLine']

In [32]:
%%writefile new.txt
First line
Second line

Writing new.txt

In [33]:
for line in open('new.txt'):
    print line

First line

Second line

# Sets

In [34]:
x = set()

In [35]:
x

set()

In [36]:
type(x)

set

In [37]:
x.add(1)

In [38]:
x

{1}

In [39]:
x.add(2)

In [40]:
x

{1, 2}

In [41]:
x.add(1)

In [42]:
x

{1, 2}

In [44]:
l = [1,1,1,1,1,2,2,3,3,3,4]

In [46]:
l

[1, 1, 1, 1, 1, 2, 2, 3, 3, 3, 4]

In [47]:
set(l)

{1, 2, 3, 4}

# Booleans

In [48]:
a = True

In [49]:
a

True

In [51]:
1 > 3

False

In [52]:
b = None

In [53]:
b

In [54]:
b = 'a'

In [55]:
a

True

In [56]:
b

'a'

# Chained Comparison Operators

In [3]:
1 < 2

True

In [4]:
2 < 3

True

In [5]:
1 < 2 < 3

True

In [6]:
1 < 2 and 2 < 3

True

In [7]:
1 < 3

True

In [8]:
3 > 2

True

In [9]:
1 < 3 > 2

True

In [10]:
1 < 3 and 3 > 2

True

In [11]:
1 == 2

False

In [12]:
2 < 3

True

In [13]:
2 < 3 or 1 == 2

True

# Intro to Python statements

In [14]:
if True:
    print 'It was True'

It was True

In [15]:
if False:
    print 'It was False'

In [17]:
x = True

if x:
    print 'x was True'
else:
    print 'I will print when x is anything not True'

x was True

In [18]:
loc = 'Bank'

if loc ==  'Auto Shop':
    print 'Welcome to the Auto Shop!'
elif loc == 'Bank':
    print 'Welcome to the bank!'
elif loc == 'Mall':
    print 'Welcome to the Mall!'
else:
    print 'Where are you?'

Welcome to the bank!

In [19]:
person = 'Vikas'

if person == 'Vikas':
    print 'Hi Vikas!'
else:
    print "What's your name?"

Hi Vikas!

# For loop

In [20]:
l = [1,2,3,4,5]

In [21]:
for element in l:
    print element

1
2
3
4
5

In [22]:
for num in l:
    print 'something!'

something!
something!
something!
something!
something!

## Modulo

In [23]:
10 % 3

1

In [24]:
18 % 7

4

In [25]:
2 % 3

2

In [26]:
l

[1, 2, 3, 4, 5]

In [32]:
for num in l:
    if num % 2 == 0:
        print num
    else:
        print 'Odd number!'

Odd number!
2
Odd number!
4
Odd number!

In [33]:
l

[1, 2, 3, 4, 5]

In [34]:
list_sum = 0

In [39]:
for num in l:
    list_sum += num

print list_sum

30

In [41]:
s = 'this is a string!'

In [42]:
for letter in s:
    print letter

t
h
i
s

i
s

a

s
t
r
i
n
g
!

In [43]:
tup = (1,2,3,4,5)

for item in tup:
    print item

1
2
3
4
5

In [44]:
l = [(2,4),(6,8),(10,12)]

In [47]:
for tup in l:
    print tup

(2, 4)
(6, 8)
(10, 12)

In [50]:
for (t1,t2) in l:
    print t1
    print t2
    print t1+t2

2
4
6
6
8
14
10
12
22

In [51]:
d = {'k1': 1, 'k2': 2, 'k3' : 3}

In [52]:
d

{'k1': 1, 'k2': 2, 'k3': 3}

In [53]:
for item in d:
    print item

k3
k2
k1

In [54]:
d.iteritems()

In [55]:
d.items()

[('k3', 3), ('k2', 2), ('k1', 1)]

In [59]:
for k,v in d.iteritems():
    print k,v

k3 3
k2 2
k1 1

# While loops

In [60]:
x = 0

while x < 10:
    print 'x is currently: ',x
    x +=1

x is currently:  0
x is currently:  1
x is currently:  2
x is currently:  3
x is currently:  4
x is currently:  5
x is currently:  6
x is currently:  7
x is currently:  8
x is currently:  9

In [62]:
x = 0

while x < 10:
    print 'x is currently: ', x
    x += 1
else:
    print 'All Done!'

x is currently:  0
x is currently:  1
x is currently:  2
x is currently:  3
x is currently:  4
x is currently:  5
x is currently:  6
x is currently:  7
x is currently:  8
x is currently:  9
All Done!

# Break, continue and pass

In [64]:
x = 0

while x < 10:
    print 'x is currently: ',x
    print 'x is still less than 10, adding 1 to x'
    x += 1
    
    if x == 3:
        print 'Hey, x equals 3!'
        break
    else:
        print 'continuing...'

x is currently:  0
x is still less than 10, adding 1 to x
continuing...
x is currently:  1
x is still less than 10, adding 1 to x
continuing...
x is currently:  2
x is still less than 10, adding 1 to x
Hey, x equals 3!

# range()

In [65]:
range(0,10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [67]:
range(20)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [68]:
x = range(0, 10)

In [69]:
type(x)

list

In [72]:
start = 0
stop = 20

range(start, stop, 3)

[0, 3, 6, 9, 12, 15, 18]

In [73]:
l = [1,2,3,4,5]

In [77]:
for num in range(1,6):
    print num

1
2
3
4
5

In [78]:
for num in xrange(1, 11):
    print num

1
2
3
4
5
6
7
8
9
10

In [79]:
xrange(1, 6)

xrange(1, 6)

In [82]:
x = xrange(1,6)
x2 = range(1,6)

In [81]:
type(x)

xrange

In [83]:
type(x2)

list

# list comprehension

In [85]:
l = []

for letter in 'word':
    l.append(letter)
    
print l

['w', 'o', 'r', 'd']

In [89]:
lst = [letter for letter in 'word']

In [90]:
lst

['w', 'o', 'r', 'd']

x^2 : x in {0,1,2,3,....10}

In [91]:
lst = [x**2 for x in range(0,11)]

In [92]:
lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [93]:
lst = [number for number in range(11) if number % 2 == 0]

In [94]:
lst

[0, 2, 4, 6, 8, 10]

In [95]:
celsius = [0,10,20.1, 34.5]

In [96]:
fahrenheit = [(temp*(9/5.0) + 32) for temp in celsius]

In [97]:
fahrenheit

[32.0, 50.0, 68.18, 94.1]

In [98]:
lst = [x**2 for x in range(11)]

In [99]:
lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [103]:
# final result is x**4 for x in range(11)
lst = [x**2 for x in [x**2 for x in range(11)]]

In [104]:
lst

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]